@use '../../colors';
@use '../../variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.polling-progress {
  align-self: flex-end;
  display: inline-block;
  padding: variables.$space-xs variables.$space-s;
}

.organization-list {
  height: 100%;
  padding: 0 variables.$space-s variables.$space-s variables.$space-s;

  &__item {
    &:not(:last-child) {
      margin-bottom: variables.$space-xxl;
    }
  }
}

.viewer-or-organization {
  display: inline-block;

  &__link {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: variables.$space-xl;
    height: variables.$space-xl;
    border-radius: variables.$default-border-radius;
    margin-right: variables.$space-s;
  }
}

.repository-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: variables.$space-m variables.$space-m;
  align-items: stretch;

  &__item {
    display: block;
    box-shadow: 0 0 23px -6px rgba(0, 0, 0, 0.1);
  }

  &__item-content {
    height: 100%;
  }
}

@media (max-width: variables.$max-width-desktop) {
  .repository-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: variables.$max-width-tablet) {
  .repository-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: variables.$max-width-mobile) {
  .repository-list {
    grid-template-columns: 1fr;
  }
}
