<ana-polling-progress
  [resource]="viewerAndOrganizations"
  [pollIntervalInSeconds]="updateIntervalInSeconds"
  class="polling-progress"
></ana-polling-progress>

@if (viewerAndOrganizations.hasValue()) {
  <ul class="organization-list">
    @for (
      viewerOrOrganization of filteredViewerAndOrganizations();
      track viewerOrOrganization
    ) {
      <li class="organization-list__item">
        @if (viewerOrOrganization.repositories.length > 0) {
          <h2 class="viewer-or-organization">
            <a
              class="viewer-or-organization__link"
              [href]="viewerOrOrganization.url"
              target="_blank"
              rel="noopener"
            >
              <img
                class="viewer-or-organization__avatar"
                [src]="viewerOrOrganization.avatarUrl"
              />
              <span>{{ viewerOrOrganization.login }}</span>
            </a>
          </h2>
          <ul class="repository-list">
            @for (
              repository of viewerOrOrganization.repositories;
              track repository
            ) {
              <li class="repository-list__item">
                <ana-actions-dashboard-item
                  class="repository-list__item-content"
                  [repository]="repository"
                ></ana-actions-dashboard-item>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
}

@if (!viewerAndOrganizations.hasValue()) {
  <mat-progress-spinner class="progress-spinner" mode="indeterminate">
  </mat-progress-spinner>
}

@if (viewerAndOrganizations.error()) {
  <div class="view-placeholder">
    <p>Repositories could not be loaded.</p>
  </div>
}
