<h1>Settings</h1>

<form class="config-form" #configForm="ngForm" (ngSubmit)="onSave()">
  <h2>Commits and Deployments</h2>

  <mat-form-field class="commits-history-count">
    <mat-label>Commits history count</mat-label>
    <input
      #commitsHistoryCountInput="ngModel"
      matInput
      type="number"
      name="commitsHistoryCount"
      [(ngModel)]="commitsHistoryCount"
      required
      min="1"
      max="100"
    />
    @if (commitsHistoryCountInput.invalid) {
      <mat-error>Enter a value between 1 and 100</mat-error>
    }
  </mat-form-field>

  <div class="button-list">
    <a mat-stroked-button [routerLink]="['/', appRouting.DASHBOARD]">Cancel</a>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="configForm.form.invalid"
    >
      Save
    </button>
  </div>
</form>
