@import '../../variables';
@import '../../colors';

:host {
  display: block;
  padding: $space-s;
  min-height: 100vh;
}

.repositories-form {
  max-width: 768px;
  margin: auto;
}

.viewer-or-organization {
  display: inline-block;

  &__link {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: $space-xl;
    height: $space-xl;
    border-radius: $default-border-radius;
    margin-right: $space-s;
  }
}

.repository-list-item {
  display: flex;
  align-items: center;
  font-size: $font-size-l;
  padding: $space-s;

  &__label {
    display: flex;
    gap: $space-xs;
    align-items: center;
  }

  &__icon {
    width: $space-m;
    height: $space-m;
  }

  &__name {
    margin-bottom: 0;
  }

  &__fork-info {
    font-size: $font-size-s;
    margin-bottom: 0;
  }
}
