@use '@angular/material' as mat;

@mixin color($theme) {
  ana-commits-graph {
    svg {
      circle {
        fill: mat.get-theme-color($theme, outline);
      }
      path {
        fill: transparent;
        stroke: mat.get-theme-color($theme, outline);
        stroke-width: 2;
      }
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
