<ng-container *ngIf="commit">
  <div class="commit-message u-margin-bottom-xxs">
    <a
      [anaTooltip]="getCommitMessageTooltip(commit.message)"
      [href]="commit.commitUrl"
      target="_blank"
      rel="noopener"
    >
      <span [innerHTML]="getAbbreviatedCommitMessage(commit.message)"> </span>
    </a>
  </div>

  <div class="commit-infos u-margin-bottom-xxs">
    <a [href]="commit.commitUrl" target="_blank" rel="noopener">{{
      commit.abbreviatedOid
    }}</a>
    • {{ commit.committedDate | date: dateTimeFormat }} •
    <a
      *ngIf="
        commit.author?.login || commit.committer.email;
        else userPlaceholder
      "
      [href]="
        commit.author
          ? repositoryUrl + '/commits?author=' + commit.author.login
          : ''
      "
      target="_blank"
      rel="noopener"
      [anaTooltip]="commit.author ? commit.author.name : commit.committer.email"
      >{{ commit.author?.login ?? commit.committer.name }}</a
    >
    <ng-template #userPlaceholder>
      <span class="u-text-placeholder">Kein Benutzer</span>
    </ng-template>
  </div>
</ng-container>
