@use '../../colors';
@use '../../variables';

:host {
  display: flex;
  margin-top: variables.$space-xxl;
}

.login-box {
  margin: auto;
  padding: variables.$space-m;
  border-radius: variables.$default-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 23px -6px rgba(0, 0, 0, 0.1);
}
