@use '@angular/material' as mat;

@mixin color($theme) {
  ana-deploy-commit-dialog {
    .commit-status {
      background-color: mat.get-theme-color($theme, surface-container-high);
    }

    .environment {
      &__tag {
        color: mat.get-theme-color($theme, inverse-on-surface);
      }
    }

    .dialog-progress {
      background-color: rgba(
        $color: mat.get-theme-color($theme, surface-container-high),
        $alpha: 0.8
      );
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
