@use '../../colors';
@use '../../variables';

:host {
  display: block;
  position: relative;

  /* Set styles for slide toggle so it is smaller than usual. */
  --mdc-switch-selected-icon-size: 8px;
  --mdc-switch-unselected-icon-size: 8px;

  --mat-switch-selected-handle-size: 14px;
  --mat-switch-unselected-handle-size: 14px;
  --mat-switch-pressed-handle-size: 14px;
  --mat-switch-with-icon-handle-size: 14px;

  --mdc-switch-track-height: 22px;
  --mdc-switch-track-width: 42px;
}

.dialog-title {
  display: flex;
  align-items: center;
  margin-top: 12px;

  &__icon {
    margin-right: 8px;
  }
}

.commit-status {
  padding: variables.$space-xs;
  border-radius: variables.$default-border-radius;

  &__check-suite {
    margin-left: variables.$space-l;
  }
}

.environment-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: start;
  gap: variables.$space-m variables.$space-s;

  .mat-divider {
    grid-column: 1 / span 4;
    width: 100%;
  }
}

.dialog-progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.environment {
  &__tag {
    border-radius: 4px;
    font-size: variables.$font-size-l;
    padding: variables.$space-xs variables.$space-s;
    margin: 0;
    justify-self: stretch;
    text-align: center;
  }

  &__action {
    justify-self: stretch;
  }

  &__text {
    p {
      // TODO: margin bottom for p tags should be set globally to 0.
      margin: 0;
    }
  }

  &__state {
    justify-self: center;
  }
}

.dialog-actions {
  justify-content: space-between;
}

@media (max-width: variables.$max-width-mobile) {
  .environment-list {
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-auto-flow: dense;
    align-items: flex-start;

    .mat-divider {
      grid-column: 1 / span 3;
    }
  }

  .environment {
    &__action {
      grid-column: 2 / span 2;
    }

    &__text {
      grid-column: 2 / span 2;
    }
  }
}
