@import '../colors';
@import '../variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-content {
  background-color: $default-background-color;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;

  &__filter {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2px 6px 2px 2px;
  }

  &__filter-icon {
    padding: 0 0 0 4px;
  }

  &__filter-input {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    width: 108px;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }

  &__filter-button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 0;
    color: white;
  }

  &__icon {
    font-size: 32px;
    margin-right: $space-s;
  }

  &__title {
    margin-right: $space-xxl;
  }

  &__gap {
    flex: 1;
  }

  &__config-button {
    .mat-icon {
      margin-right: 0;
    }
  }

  &__filter-toggle-button {
    display: none;

    &--active {
      background: rgba(0, 0, 0, 0.2);
    }

    .mat-icon {
      margin-right: 0;
    }
  }

  &__menu-button {
    display: none;
    .mat-icon {
      margin-right: 0;
    }
  }

  &__second-row {
    display: none;

    &--visible {
      display: flex;
    }
  }
}

.nav-button {
  &--active {
    background: rgba(0, 0, 0, 0.2);
  }
}

.mat-sidenav {
  padding: $space-xs;
  .mat-mdc-button {
    display: flex;
    justify-content: flex-start;

    &--active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .mat-divider {
    margin: $space-s 0;
  }
}

@media (max-width: $max-width-mobile-landscape) {
  .toolbar {
    &__config-button {
      display: none;
    }

    &__filter-toggle-button,
    &__menu-button {
      display: inline-flex;
    }

    .toolbar__first-row .toolbar__filter,
    .nav-button {
      display: none;
    }
  }
}
