@use '@angular/material' as mat;

@use '../colors';
@use '../variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.main-content {
}

.toolbar {
  @include mat.elevation(2);

  position: sticky;
  top: 0;
  z-index: 100;

  &__filter {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 2px 2px 2px 0;
  }

  &__filter-icon {
    padding: 0 0 0 4px;
  }

  &__filter-input {
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    width: 108px;

    &::placeholder {
      color: white;
      opacity: 0.7;
    }
  }

  &__filter-button {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 0;
  }

  &__icon {
    font-size: 32px;
    margin-right: variables.$space-s;
  }

  &__title {
    margin-right: variables.$space-xxl;
  }

  &__gap {
    flex: 1;
  }

  &__filter-toggle-button {
    display: none;

    &--active {
      background: rgba(0, 0, 0, 0.2);
    }

    .mat-icon {
      margin-right: 0;
    }
  }

  &__menu-button {
    display: inline-flex;
    .mat-icon {
      margin-right: 0;
    }
  }

  &__second-row {
    display: none;
  }
}

.nav-button {
  &--active {
    background: rgba(0, 0, 0, 0.2);
  }
}

.mat-sidenav {
  padding: variables.$space-xs;
  .mat-mdc-button {
    display: flex;
    justify-content: flex-start;

    &--active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .mat-divider {
    margin: variables.$space-s 0;
  }

  .nav-button,
  .nav-button-divider {
    display: none;
  }
}

.offline-info {
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  margin: 8px auto;
  padding: 22px 36px;
  width: 200px;
  text-align: center;
  color: white;
  border-radius: 4px;
  background-color: #c62828;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: variables.$max-width-tablet) {
  .offline-info {
    bottom: 0;
  }
}

@media (max-width: variables.$max-width-mobile-landscape) {
  .toolbar {
    &__filter-toggle-button {
      display: inline-flex;
    }

    &__second-row {
      &--visible {
        display: flex;
      }
    }

    .toolbar__first-row .toolbar__filter,
    .nav-button {
      display: none;
    }
  }

  .mat-sidenav {
    .nav-button,
    .nav-button-divider {
      display: flex;
    }
  }
}
