<ng-template #navButtons>
  <a
    class="nav-button"
    mat-button
    color="inherit"
    [routerLink]="['/', appRouting.DASHBOARD]"
    routerLinkActive="nav-button--active"
    >Actions</a
  >
  <a
    class="nav-button"
    mat-button
    color="inherit"
    [routerLink]="['/', appRouting.COMMITS]"
    routerLinkActive="nav-button--active"
    >Commits & Deployments</a
  >
</ng-template>

<ng-template #filterForm>
  <div class="toolbar__filter">
    <mat-icon class="toolbar__filter-icon">filter_alt</mat-icon>
    <input
      #filterInput
      class="toolbar__filter-input mat-body"
      placeholder="Repository Filter"
      id="repository-filter"
      name="repository-filter"
      autocomplete="off"
      (input)="repositoryFilter.setValue(filterInput.value)"
      [value]="repositoryFilter.value()"
    />
    <button
      class="toolbar__filter-button"
      aria-label="Clear"
      (click)="repositoryFilter.setValue(''); filterInput.focus()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>

<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar__first-row">
    <span class="toolbar__icon">🎬</span>
    <span class="toolbar__title">And Action</span>

    <ng-container *ngTemplateOutlet="navButtons"></ng-container>

    <span class="toolbar__gap"></span>

    <ng-container *ngTemplateOutlet="filterForm"></ng-container>

    <span class="toolbar__gap"></span>

    <button
      mat-button
      color="inherit"
      aria-pressed="true"
      class="toolbar__filter-toggle-button"
      [ngClass]="{
        'toolbar__filter-toggle-button--active': isFilterToggleButtonActive
      }"
      (click)="toggleMobileRepositoryFilterForm()"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>
    <a
      mat-button
      color="inherit"
      class="toolbar__config-button"
      [routerLink]="['/', appRouting.DASHBOARD_CONFIG]"
    >
      <mat-icon>settings</mat-icon>
    </a>
    <button
      mat-button
      color="inherit"
      class="toolbar__menu-button"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="toolbar__second-row"
    [ngClass]="{ 'toolbar__second-row--visible': isFilterToggleButtonActive }"
  >
    <span class="toolbar__gap"></span>
    <ng-container *ngTemplateOutlet="filterForm"></ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" [autoFocus]="false">
    <ng-container *ngTemplateOutlet="navButtons"></ng-container>
    <mat-divider></mat-divider>
    <a
      mat-button
      color="inherit"
      [routerLink]="['/', appRouting.DASHBOARD_CONFIG]"
    >
      <mat-icon class="u-margin-right-xs">settings</mat-icon>
      <span>Settings</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

@if (!isOnline()) {
  <p class="offline-info">No network connection</p>
}
