@import '../../colors';
@import '../../variables';

:host {
  height: 100%;
  display: block;
}

.repositories {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  gap: $space-s;
  padding: $space-s;
}

.repository {
  box-sizing: border-box;
  background-color: $white;
  padding: 0 $space-m $space-m $space-m;
  border-radius: $default-border-radius;
  box-shadow: 0 0 23px -6px rgba(0, 0, 0, 0.1);
  width: 420px;
  flex: 0 0 auto;

  &__head {
    position: sticky;
    top: -$space-s;
    padding-top: $space-m;
    padding-bottom: $space-m;
    margin-bottom: $space-s;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
  }

  &__branch-name {
    display: inline-flex;
    align-items: center;
  }

  &__branch-icon {
    fill: $default-text-color;
    width: $space-s;
    height: $space-s;
    margin-right: $space-xxs;
  }
}

@media (max-width: $max-width-mobile) {
  .repositories {
    scroll-snap-type: x mandatory;
  }

  .repository {
    width: calc(100% - #{$space-s});
    scroll-snap-align: center;
  }
}
