@use '../../colors';
@use '../../variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.polling-progress {
  align-self: flex-end;
  display: inline-block;
  padding: variables.$space-xs variables.$space-s 0 variables.$space-s;
}

.repositories {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  gap: variables.$space-s;
  margin-top: variables.$space-s;
  padding: 0 variables.$space-s variables.$space-s variables.$space-s;
}

.repository {
  box-sizing: border-box;
  padding: 0 variables.$space-m variables.$space-m variables.$space-m;
  border-radius: variables.$default-border-radius;
  box-shadow: 0 0 23px -6px rgba(0, 0, 0, 0.1);
  width: 460px;
  flex: 0 0 auto;

  &.cdk-drag-placeholder {
    opacity: 0;
  }

  &.cdk-drag-disabled mat-icon {
    cursor: not-allowed;
  }
}

.repositories.cdk-drop-list-dragging .repository:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.repository--add {
  position: sticky;
  top: 0;
  padding: variables.$space-m;
  width: auto;
}

.repository-head {
  position: sticky;
  top: 0;
  padding-top: variables.$space-s;
  padding-bottom: variables.$space-s;
  margin-bottom: variables.$space-s;
  z-index: 100;

  &__drag-handle {
    text-align: center;

    mat-icon {
      cursor: grab;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: variables.$space-xs;
    margin-bottom: variables.$space-s;
  }

  &__title-text {
    margin-bottom: 0;
  }

  &__delete-button {
    position: absolute;
    top: variables.$space-s;
    right: 0;
  }
}

.branch {
  display: inline-flex;
  align-items: center;

  &__icon {
    width: variables.$space-s;
    height: variables.$space-s;
    margin-right: variables.$space-xxs;
  }
}

@media (max-width: variables.$max-width-mobile) {
  .repositories {
    scroll-snap-type: x mandatory;
  }

  .repository {
    padding: 0 variables.$space-s variables.$space-s variables.$space-s;
    width: calc(100% - #{variables.$space-s});
    scroll-snap-align: center;
  }
}
