<form class="filter-form">
  <mat-form-field>
    <mat-label>Repository Filter</mat-label>
    <input
      matInput
      id="repository-filter"
      name="repository-filter"
      [(ngModel)]="filter"
      autocomplete="off"
    />
    <button
      *ngIf="filter"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="filter = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="repositories">
  <ng-container *ngFor="let repository of repositories$ | async">
    <div class="repository" *ngIf="isShowRepository(repository)">
      <h2>
        <a [href]="repository.url" target="_blank" rel="noopener">
          {{ repository.name }}
        </a>
      </h2>
      <a
        [href]="repository.url"
        target="_blank"
        rel="noopener"
        class="repository__branch-name"
      >
        <svg class="repository__branch-icon">
          <use xlink:href="#icon-git-branch"></use>
        </svg>

        <span>{{ repository.defaultBranchRef.name }}</span>
      </a>

      <div class="u-flex">
        <ana-commits-graph [commits]="repository.commits"></ana-commits-graph>
        <ana-commits-list
          [commits]="repository.commits"
          [repositoryUrl]="repository.url"
        ></ana-commits-list>
      </div>
    </div>
  </ng-container>
</div>
