@import '../../../variables';

.repository-list-item {
  display: flex;
  align-items: center;
  font-size: $font-size-l;

  &__label {
    display: flex;
    gap: $space-xs;
    align-items: center;
  }

  &__name {
    margin-bottom: 0;
  }
}
