@use '@angular/material' as mat;

@mixin color($theme) {
  ana-actions-dashboard-item {
    background-color: mat.get-theme-color($theme, surface-container-lowest);

    .branch-title {
      &__icon {
        fill: mat.get-theme-color($theme, on-surface);
      }
    }

    &__delete-button,
    .repository-drag-handle mat-icon {
      color: mat.get-theme-color($theme, outline-variant);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
