<h3 class="title">
  <a [href]="repository?.url" target="_blank" rel="noopener">{{
    repository?.name
  }}</a>
</h3>
<ng-container *ngIf="repository && repository.workflowsWithWorkflowRuns">
  <ng-container *ngIf="repository.workflowsWithWorkflowRuns.length > 0">
    <a
      [href]="repository.url"
      target="_blank"
      rel="noopener"
      class="branch-title"
    >
      <svg class="branch-title__icon">
        <use xlink:href="#icon-git-branch"></use>
      </svg>

      <span>{{ repository.defaultBranchRef.name }}</span>
    </a>
    <ul class="workflow-list">
      <ng-container
        *ngFor="
          let workflowWithWorkflowRuns of repository.workflowsWithWorkflowRuns
        "
      >
        <li
          *ngIf="workflowWithWorkflowRuns.workflowRuns?.[0]"
          class="workflow-list__item"
        >
          <ana-status-tag
            [name]="workflowWithWorkflowRuns.workflow.name"
            [link]="workflowWithWorkflowRuns.workflowRuns[0].html_url"
            [status]="
              getStatusTagStatus(workflowWithWorkflowRuns.workflowRuns[0])
            "
            [color]="
              getStatusTagColor(workflowWithWorkflowRuns.workflowRuns[0])
            "
          ></ana-status-tag>
        </li>
      </ng-container>
    </ul>
  </ng-container>

  <p
    *ngIf="repository.workflowsWithWorkflowRuns.length === 0"
    class="u-text-placeholder"
  >
    No workflows configured
  </p>
</ng-container>
