@import '../../colors';
@import '../../variables';

:host {
  display: block;
  box-sizing: border-box;
  background-color: $white;
  padding: $space-s;
  border-radius: $default-border-radius;
}

.repository-head {
  display: flex;
  align-items: center;
  gap: $space-xs;
  margin-bottom: $space-xs;

  &__title {
    text-wrap: normal;
    margin-bottom: 0;
  }
}

.branch-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: $space-xs;

  &__icon {
    fill: $default-text-color;
    width: $space-s;
    height: $space-s;
    margin-right: $space-xxs;
  }
}

.workflow-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-top: $space-xs;
    margin-right: $space-xs;
  }

  &__item-link {
    color: $white;
  }
}
