<div class="repository-head">
  <div class="repository-head__title">
    <a
      [routerLink]="['/', appRouting.COMMITS]"
      [queryParams]="{ repository: repository?.name }"
    >
      <span>{{ repository?.owner?.login }} /</span><br />
      <h2>{{ repository?.name }}</h2>
    </a>
  </div>
  @if (repository?.isArchived) {
    <p class="u-state-tag">Archived</p>
  }
  <button
    class="repository-head__delete-button"
    type="button"
    mat-icon-button
    (click)="deleteRepository.emit()"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
@if (repository && repository.workflowsWithWorkflowRuns) {
  @if (repository.workflowsWithWorkflowRuns.length > 0) {
    <a
      [href]="repository.url"
      target="_blank"
      rel="noopener"
      class="branch-title"
    >
      <svg class="branch-title__icon">
        <use xlink:href="#icon-git-branch"></use>
      </svg>
      <span>{{ repository.defaultBranchRef.name }}</span>
    </a>

    <ul class="workflow-list">
      @for (
        workflowWithWorkflowRuns of repository.workflowsWithWorkflowRuns;
        track workflowWithWorkflowRuns
      ) {
        @if (workflowWithWorkflowRuns.workflowRuns[0]) {
          <li class="workflow-list__item">
            <ana-status-tag
              [name]="workflowWithWorkflowRuns.workflow.name"
              [link]="workflowWithWorkflowRuns.workflowRuns[0].html_url"
              [status]="
                getStatusTagStatus(workflowWithWorkflowRuns.workflowRuns[0])
              "
              [color]="
                getStatusTagColor(workflowWithWorkflowRuns.workflowRuns[0])
              "
            ></ana-status-tag>
          </li>
        }
      }
    </ul>
  }
  @if (repository.workflowsWithWorkflowRuns.length === 0) {
    <p class="u-text-placeholder">No workflows configured</p>
  }
}
