@use '../../colors';
@use '../../variables';

:host {
  display: block;
  box-sizing: border-box;
  padding: variables.$space-s;
  border-radius: variables.$default-border-radius;
}

.repository-head {
  display: flex;
  align-items: center;
  gap: variables.$space-xs;
  margin-bottom: variables.$space-xs;

  &__title {
    text-wrap: normal;
    margin-bottom: 0;
  }
}

.branch-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: variables.$space-xs;

  &__icon {
    width: variables.$space-s;
    height: variables.$space-s;
    margin-right: variables.$space-xxs;
  }
}

.workflow-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-top: variables.$space-xs;
    margin-right: variables.$space-xs;
  }

  &__item-link {
    color: white;
  }
}
