@import '../../colors';
@import '../../variables';

$border-radius: 12px;

:host {
  display: block;
}

.tag {
  font-size: $font-size-xs;
  color: $white;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  margin: 0;
  height: 20px;

  &:hover {
    color: $white;
  }

  &:active {
    color: $white;
  }

  &__name {
    display: block;
    padding: 1px 6px 1px $space-xs;

    &:last-child {
      padding-right: $space-xs;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    background-color: $default-background-color;
    padding: 2px;
    border-radius: $border-radius;
  }

  &__status-icon {
    width: $space-s;
    height: $space-s;

    &--success {
      fill: $color-success;
    }

    &--error {
      fill: #cf222e;
    }

    &--in-progress {
      animation: rotate-keyframes 1s linear infinite;
    }

    &--waiting {
      fill: #dbab0a;
    }

    &--skipped {
      fill: #57606a;
    }

    @keyframes rotate-keyframes {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: $max-width-mobile) {
  $border-radius: 10px;
  .tag {
    font-size: $font-size-xxs;
    border-radius: $border-radius;
    height: 16px;

    &__name {
      padding: 1px 4px 1px 6px;

      &:last-child {
        padding-right: 6px;
      }
    }

    &__status {
      padding: 2px;
      border-radius: $border-radius;
    }

    &__status-icon {
      width: 12px;
      height: 12px;
    }
  }
}
