@use '../../colors';
@use '../../variables';

$border-radius: 4px;

:host {
  display: inline-block;
}

.tag {
  font-size: variables.$font-size-xs;
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  margin: 0;
  height: 20px;

  &__name {
    display: block;
    padding: 1px 6px;

    &:last-child {
      padding-right: variables.$space-xs;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 0 $border-radius $border-radius 0;
  }

  &__status-icon {
    width: variables.$space-s;
    height: variables.$space-s;

    &--success {
      fill: colors.$color-success;
    }

    &--error {
      fill: #cf222e;
    }

    &--in-progress {
      animation: rotate-keyframes 1s linear infinite;
    }

    &--waiting {
      fill: #dbab0a;
    }

    &--skipped {
      fill: #57606a;
    }

    @keyframes rotate-keyframes {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: variables.$max-width-mobile) {
  $border-radius: 4px;
  .tag {
    font-size: variables.$font-size-xxs;
    border-radius: $border-radius;
    height: 16px;

    &__name {
      padding: 1px 4px;

      &:last-child {
        padding-right: 6px;
      }
    }

    &__status {
      padding: 2px;
      border-radius: 0 $border-radius $border-radius 0;
    }

    &__status-icon {
      width: 12px;
      height: 12px;
    }
  }
}
