$default-background-color: #E5E5E5;
$default-text-color: #333333;
$default-text-color-hover: lighten($default-text-color, 20%);
$default-text-color-active: darken($default-text-color, 20%);
$secondary-text-color: lighten(#333333, 50%);

$default-border-color: #D2D2D2;

$primary-color: #4A7856;
$primary-color-hover: lighten($primary-color, 5%);
$primary-color-active: darken($primary-color, 5%);

$white: #FFFFFF;

$color-disabled: #ABABAB;
$background-color-disabled: #D2D2D2;

$color-0: #00C853;
$color-1: #FFD600;
$color-2: #0091EA;
$color-3: #AB435C;
$color-4: #484853;
