$default-background-color: #e5e5e5;
$default-text-color: #333333;
$default-text-color-hover: lighten($default-text-color, 20%);
$default-text-color-active: darken($default-text-color, 20%);
$secondary-text-color: lighten(#333333, 50%);

$default-border-color: #d2d2d2;

$primary-color: #4a7856;
$primary-color-hover: lighten($primary-color, 5%);
$primary-color-active: darken($primary-color, 5%);

$white: #ffffff;

$color-disabled: #ababab;
$background-color-disabled: #d2d2d2;

$color-0: #00c853;
$color-1: #ffd600;
$color-2: #0091ea;
$color-3: #ab435c;
$color-4: #484853;
