$default-background-color: #E5E5E5;
$default-text-color: #333333;
$secondary-text-color: lighten(#333333, 50%);

$default-border-color: #D2D2D2;

$primary-color: #4A7856;
$primary-color-hover: lighten($primary-color, 5%);
$primary-color-active: darken($primary-color, 5%);

$white: #FFFFFF;

$color-disabled: #ABABAB;
$background-color-disabled: #D2D2D2;
