
$default-border-radius: 6px;

$font-size-s: 14px;
$line-height-s: 20px;

$font-size-m: 16px;
$line-height-m: 24px;

$font-size-l: 18px;
$line-height-l: 28px;

$font-size-xl: 21px;
$line-height-xl: 32px;

$font-size-xxl: 24px;
$line-height-xxl: 36px;

$default-font-size: $font-size-m;
$default-line-height: $line-height-m;

$space-xxs: 4px;
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;
$space-xxl: 48px;
