@use '@angular/material' as mat;
@use 'm3-theme' as m3;

@use './theme-styles' as theme-styles;
@use 'app/actions-dashboard-config/actions-dashboard-config.component.theme' as
  actions-dashboard-config;
@use 'app/actions-dashboard/actions-dashboard.component.theme' as
  actions-dashboard;
@use 'app/actions-dashboard-item/actions-dashboard-item.component.theme' as
  actions-dashboard-item;
@use 'app/app.component-theme' as app;
@use 'app/commits-dashboard/commits-dashboard.component.theme' as
  commits-dashboard;
@use 'app/commits-graph/commits-graph.component.theme' as commits-graph;
@use 'app/confirmation-dialog/confirmation-dialog.component.theme' as
  confirmation-dialog;
@use 'app/deploy-commit-dialog/deploy-commit-dialog.component.theme' as
  deploy-commit-dialog;
@use 'app/login/login.component.theme' as login;
@use 'app/polling-progress/polling-progess.component.theme' as polling-progress;
@use 'app/status-tag/status-tag.component.theme' as status-tag;

@use 'colors';
@use 'variables';

@mixin component-themes($theme) {
  @include theme-styles.theme($theme);

  @include mat.button-theme($theme);
  @include mat.button-toggle-theme($theme);
  @include mat.checkbox-theme($theme);
  @include mat.dialog-theme($theme);
  @include mat.divider-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.icon-button-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.input-theme($theme);
  @include mat.progress-bar-theme($theme);
  @include mat.progress-spinner-theme($theme);
  @include mat.sidenav-theme($theme);
  @include mat.slide-toggle-theme($theme);
  @include mat.snack-bar-theme($theme);
  @include mat.toolbar-theme($theme);

  @include actions-dashboard-config.theme($theme);
  @include actions-dashboard.theme($theme);
  @include actions-dashboard-item.theme($theme);
  @include app.theme($theme);
  @include commits-dashboard.theme($theme);
  @include commits-graph.theme($theme);
  @include confirmation-dialog.theme($theme);
  @include deploy-commit-dialog.theme($theme);
  @include login.theme($theme);
  @include polling-progress.theme($theme);
  @include status-tag.theme($theme);
}

@mixin component-colors($theme) {
  @include theme-styles.color($theme);

  @include mat.button-color($theme);
  @include mat.button-toggle-color($theme);
  @include mat.checkbox-color($theme);
  @include mat.dialog-color($theme);
  @include mat.divider-color($theme);
  @include mat.form-field-color($theme);
  @include mat.icon-button-color($theme);
  @include mat.icon-color($theme);
  @include mat.input-color($theme);
  @include mat.progress-bar-color($theme);
  @include mat.progress-spinner-color($theme);
  @include mat.sidenav-color($theme);
  @include mat.slide-toggle-color($theme);
  @include mat.snack-bar-color($theme);
  @include mat.toolbar-color($theme);

  @include actions-dashboard-config.color($theme);
  @include actions-dashboard.color($theme);
  @include actions-dashboard-item.color($theme);
  @include app.color($theme);
  @include commits-dashboard.color($theme);
  @include commits-graph.color($theme);
  @include confirmation-dialog.color($theme);
  @include deploy-commit-dialog.color($theme);
  @include login.color($theme);
  @include polling-progress.color($theme);
  @include status-tag.color($theme);
}

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include component-themes(m3.$light-theme);
  @include mat.all-component-typographies();

  @media (prefers-color-scheme: dark) {
    @include component-colors(m3.$dark-theme);
  }
}

.light-theme {
  @include component-colors(m3.$light-theme);
}

.dark-theme {
  @include component-colors(m3.$dark-theme);
}

.mat-mdc-dialog-container {
  --mat-dialog-supporting-text-size: 14px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Remove arrows from input with type number. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.button-list {
  display: flex;
  justify-content: flex-end;

  a,
  button {
    margin-left: variables.$space-s;
  }
}

.u-margin-right {
  &-xxs {
    margin-right: variables.$space-xxs;
  }
  &-xs {
    margin-right: variables.$space-xs;
  }
  &-s {
    margin-right: variables.$space-s;
  }
  &-m {
    margin-right: variables.$space-m;
  }
  &-l {
    margin-right: variables.$space-l;
  }
  &-xl {
    margin-right: variables.$space-xl;
  }
  &-xxl {
    margin-right: variables.$space-xxl;
  }
}

.u-margin-bottom {
  &-xxs {
    margin-bottom: variables.$space-xxs;
  }
  &-xs {
    margin-bottom: variables.$space-xs;
  }
  &-s {
    margin-bottom: variables.$space-s;
  }
  &-m {
    margin-bottom: variables.$space-m;
  }
  &-l {
    margin-bottom: variables.$space-l;
  }
  &-xl {
    margin-bottom: variables.$space-xl;
  }
  &-xxl {
    margin-bottom: variables.$space-xxl;
  }
}

.u-nowrap {
  white-space: nowrap;
}

.u-text-bold {
  font-weight: bold;
}

.form-error {
  color: mat.get-theme-color(m3.$light-theme, error, 40);
}

.u-flex {
  display: flex;
}

.tooltip {
  font-size: variables.$font-size-s;
  padding: variables.$space-xxs variables.$space-xs;
  border-radius: variables.$default-border-radius;
  opacity: 0.9;
  z-index: 2000;

  p:last-child {
    margin: 0;
  }
}

.progress-spinner {
  margin: 80px auto 0 auto;
}

.view-placeholder {
  margin-top: 80px;
  text-align: center;
  font-size: variables.$font-size-l;
}

.u-state-tag {
  font-size: variables.$font-size-xs;
  padding: 0 variables.$space-xs;
  border-radius: 4px;
  // TODO: margin bottom for p tags should be set globally to 0.
  margin: 0 !important;

  &--active {
    color: colors.$color-success;
    border-color: colors.$color-success;
  }

  &--error,
  &--failure {
    color: colors.$color-error;
    border-color: colors.$color-error;
  }

  &--in_progress,
  &--pending,
  &--queued,
  &--waiting {
    color: colors.$color-in-progress;
    border-color: colors.$color-in-progress;
  }

  &--inactive,
  &--abandoned,
  &--destroyed {
    // on-surface-variant, like default style
  }
}
