@import 'colors';
@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $default-background-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $default-font-size;
  color: $default-text-color;
}

button {
  color: inherit; // Safari fix: Prevent white colored text on :active
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  &[disabled] {
    cursor: default;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $default-text-color;
  fill: $default-text-color;

  &:hover {
    text-decoration: underline;
    color: lighten($default-text-color, 10%);
    fill: lighten($default-text-color, 10%);
  }

  &:active {
    color: darken($default-text-color, 5%);
    fill: darken($default-text-color, 5%);
  }
}

h1 {
  margin-top: 0;
  margin-bottom: $space-xxl;
}

h2 {
  margin-top: 0;
  margin-bottom: $space-m;
}

h3 {
  margin-top: 0;
  margin-bottom: $space-s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.button {
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.1s;

  &--primary {
    display: inline-block;
    font-size: $default-font-size;
    min-height: 40px;
    padding: 10px $space-s;
    border-radius: $default-border-radius;
    color: $white;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-hover;
    }
    &:active {
      background-color: $primary-color-active;
    }
    // .is-disabled is needed for a-tags
    &:disabled,
    &.is-disabled {
      color: $color-disabled;
      background-color: $background-color-disabled;
      cursor: not-allowed;
    }
    &.is-disabled {
      pointer-events: none;
    }
  }

  &--secondary {
    display: inline-block;
    font-size: $default-font-size;
    min-height: 40px;
    padding: 10px $space-s;
    color: $primary-color;
    &:hover {
      color: $primary-color-hover;
    }
    &:active {
      color: $primary-color-active;
    }
    // .is-disabled is needed for a-tags
    &:disabled,
    &.is-disabled {
      color: $color-disabled;
      cursor: not-allowed;
    }
    &.is-disabled {
      pointer-events: none;
    }
  }
}

.button-list {
  display: flex;
  justify-content: flex-end;

  .button {
    margin-left: $space-s;
  }
}

.u-margin-bottom {
  &-xs {
    margin-bottom: $space-xs;
  }
  &-s {
    margin-bottom: $space-s;
  }
  &-m {
    margin-bottom: $space-m;
  }
  &-l {
    margin-bottom: $space-l;
  }
  &-xl {
    margin-bottom: $space-xl;
  }
  &-xxl {
    margin-bottom: $space-xxl;
  }
}

.u-text-placeholder {
  color: $secondary-text-color;
}

.u-nowrap {
  white-space: nowrap;
}

.u-text-bold {
  font-weight: bold;
}

.u-tag {
  font-size: $font-size-s;
  color: $white;
  border-radius: 2px;
  padding: 2px 6px;

  &--queued {
    background-color: #ffd600;
  }

  &--in_progress {
    background-color: #ccab00;
  }

  &--action_required {
    background-color: #0091ea;
  }

  &--success {
    background-color: #00c853;
  }

  &--failure,
  &--cancelled,
  &--timed_out {
    background-color: #d50000;
  }

  &--neutral,
  &--none {
    background-color: #757575;
  }

  &--color-0 {
    background-color: $color-0;
  }

  &--color-1 {
    background-color: $color-1;
  }

  &--color-2 {
    background-color: $color-2;
  }

  &--color-3 {
    background-color: $color-3;
  }

  &--color-4 {
    background-color: $color-4;
  }

  &--light {
    opacity: 0.4;
  }
}

.form-error {
  color: #d50000;
}

.u-flex-center {
  display: flex;
  align-items: center;
}

.tooltip {
  font-size: $font-size-s;
  background-color: $background-color-dark;
  color: $white;
  padding: $space-xxs $space-xs;
  border-radius: $default-border-radius;
  opacity: 0.9;
}
