<ul class="repository__list">
  <li class="repository__commit" *ngFor="let commit of commits">
    <div class="repository__commit-content">
      <ana-commit-info
        [commit]="commit"
        [repositoryUrl]="repositoryUrl"
      ></ana-commit-info>
      <div>
        <ana-status-tag
          *ngFor="let deployment of commit.deployments"
          [name]="deployment.environment"
          [status]="getDeploymentStatusForStatusTag(deployment)"
          [color]="getDeploymentStatusTagColor(deployment)"
          class="repository__deployment"
          [class.repository__deployment--light]="
            !isDeploymentActive(deployment)
          "
          [anaTooltip]="getTooltipContent(deployment)"
        ></ana-status-tag>
      </div>
    </div>
  </li>
</ul>
