@import '../../colors';
@import '../../variables';

.repository {
  &__commit {
    height: 80px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    display: flex;
    align-items: center;

    &:hover {
      .repository__commit-deploy {
        visibility: visible;
      }
    }
  }

  &__commit-content {
    flex: 1;
  }

  &__commit-deploy {
    visibility: hidden;
  }

  &__deployment {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $space-xs;
    }

    &--light {
      opacity: 0.2;
    }
  }
}

@media (pointer: coarse) {
  .repository {
    &__commit-deploy {
      visibility: visible;
    }
  }
}
