<ul class="repository__list">
  <li class="repository__commit" *ngFor="let commit of commits">
    <div class="repository__commit-content">
      <div class="repository__commit-message u-margin-bottom-xxs">
        <a
          [anaTooltip]="getCommitMessageTooltip(commit.message)"
          [href]="commit.commitUrl"
          target="_blank"
          rel="noopener"
        >
          <span [innerHTML]="getAbbreviatedCommitMessage(commit.message)">
          </span>
        </a>
      </div>

      <p class="repository__commit-hash u-margin-bottom-xxs">
        <a [href]="commit.commitUrl" target="_blank" rel="noopener">
          {{ commit.abbreviatedOid }}
        </a>
        ● {{ commit.committedDate | date: 'short' }} ●
        <a
          *ngIf="
            commit.author.login || commit.committer.email;
            else userPlaceholder
          "
          [href]="repositoryUrl + '/commits?author=' + commit.author.login"
          target="_blank"
          rel="noopener"
          [anaTooltip]="
            commit.author.login ? commit.author.name : commit.committer.email
          "
        >
          {{ commit.author.login ?? commit.committer.name }}
        </a>
        <ng-template #userPlaceholder>
          <span class="u-text-placeholder">Kein Benutzer</span>
        </ng-template>
      </p>

      <div>
        <span
          *ngFor="let deployment of commit.deployments"
          class="repository__deployment"
          [ngClass]="getDeploymentTagCssClasses(deployment)"
          [anaTooltip]="getTooltipContent(deployment)"
          >{{ deployment.environment }}</span
        >
      </div>
    </div>
  </li>
</ul>
