@import '../../colors';
@import '../../variables';

.repository {
  &__commit {
    height: 80px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    display: flex;
    align-items: center;

    &:hover {
      .repository__commit-deploy {
        visibility: visible;
      }
    }
  }

  &__commit-content {
    flex: 1;
  }

  &__commit-deploy {
    visibility: hidden;
  }

  &__deployment {
    display: inline-block;
    margin: 0 $space-xs $space-xxs 0;

    &--light {
      opacity: 0.2;
    }
  }
}
@media (max-width: $max-width-mobile) {
  .repository {
    &__commit {
      height: 80px;
      font-size: $font-size-xxs;
      line-height: $line-height-xxs;
    }
  }
}

@media (pointer: coarse) {
  .repository {
    &__commit-deploy {
      visibility: visible;
    }
  }
}
