@import '../../colors';
@import '../../variables';

.status {
  white-space: nowrap;

  &__last-subscription {
    font-size: $font-size-xs;
    color: $secondary-text-color;
    margin: 0;
  }

  &__progress {
  }
}
