name: CI

on:
  - push

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 20
        uses: actions/setup-node@v5
        with:
          node-version: 22.22.0
      - run: npm ci
      - run: npm audit || true
      - run: npm test
      - run: npm run lint
      - run: npm run prettier-check

  component-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 20
        uses: actions/setup-node@v5
        with:
          node-version: 22.22.0
      - run: npm ci
      - run: npm run cy:run
      - name: Archive screenshots and videos
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots-and-videos
          path: |
            cypress/screenshots/**/*.png
            cypress/videos/**/*.mp4
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 20
        uses: actions/setup-node@v5
        with:
          node-version: 22.22.0
      - run: npm ci
      - run: npm run build -- --configuration=dev
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-bundle
          path: dist/browser

  deploy-dev:
    name: Deploy to AWS S3 Dev
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: [lint-and-test, component-tests, build]

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: app-bundle
          path: app-bundle

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Sync files with S3
        env:
          BUCKET_NAME: andaction-dev
          METADATA_DIRECTIVE: --metadata-directive REPLACE
        run: |
          aws s3 sync app-bundle s3://$BUCKET_NAME --delete --no-progress
          aws s3 cp s3://$BUCKET_NAME/index.html s3://$BUCKET_NAME/index.html --cache-control 'max-age=60, must-revalidate' --content-type 'text/html'
          aws s3 cp s3://$BUCKET_NAME s3://$BUCKET_NAME $METADATA_DIRECTIVE --cache-control 'max-age=31536000' --recursive --exclude '*' --include '*.js' --content-type 'application/javascript'
          aws s3 cp s3://$BUCKET_NAME s3://$BUCKET_NAME $METADATA_DIRECTIVE --cache-control 'max-age=31536000' --recursive --exclude '*' --include '*.css' --content-type 'text/css'
          aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID_DEV }} --paths '/*'
